@import url(/assets/css/fonts.css);
@import url(/assets/css/header.css);
@import url(/assets/css/slider.css);
@import url(/assets/css/about.css);
@import url(/assets/css/main_header.css);
@import url(/assets/css/about_us.css);
@import url(/assets/css/about_people.css);
@import url(/assets/css/work.css);
@import url(/assets/css/blog.css);
@import url(/assets/css/contact.css);
@import url(/assets/css/footer.css);


*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html {
    height: 100%;
}

body {
    height: 100%;
    scroll-behavior: smooth;
}

.wrapper {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.anchor {
    scroll-margin-top: 11vw;
}

/*--------------max-width: 960px--------------*/

@media (max-width: 960px) {
    .blog {
        grid-template-columns: repeat(2, 1fr);
    }
}

/*--------------max-width: 640px--------------*/

@media (max-width: 640px) {
    .anchor {
        scroll-margin-top: 18vw;
    }

    .header__logo, .header__nav {
        margin-bottom: 2vw;
    }

    .header__nav {
        display: none;
    }

    .hamburger_menu {
        display: block;
    }

    .header__logo {
        width: 25vw;
    }

    .slider h1 {
        display: none;
    }

    .main_header {
        margin: 10vw 10vw 0vw 10vw;
    }

    .about_img__pencil {
        width: 80%;
        position: relative;
    }
    
    .about_block {
        width: 100%;
        margin-right: 10vw;
    }

    .about_block:first-of-type {
        margin-bottom: 5vw;
    }

    .about_block:last-of-type {
        margin-bottom: 5vw;
    }

    .about_block:nth-child(2n+1) {
        margin-left: 10vw;
    }

    .about_img__corner {
        width: 100vw;
        position: relative;
    }

    .about_img__social {
        width: 100vw;
    }

    .about_us__circle {
        width: 100%;
        padding: 7vw 5vw;
    }

    .about_us__circle_block {
        display: none;
    }

    .about_us__circle h1 {
        position: relative;
        width: 100%;
        left: 0;
        padding: 0 1em;
        text-align: center;
        background-color: none;
    }

    .about_us__block {
        width: 100%;
        padding: 0 0 5vw; 
        margin-left: 3em;
        line-height: 3em;
    }

    .about_us__block_nav li::before {
        padding-left: 6vw;
    }

    .about_us__block_nav li::after {
        padding-left: 5vw;
    }

    .about_people__block {
        width: 47%;
        padding-bottom: 5vw;
    }

    .about_people__container:first-child {
        margin-top: 3vw;
        margin-bottom: 0vw;
    } 

    .work {
        margin: 10vw 0;
    }

    .work_block {
        width: 50%;
    }

    .blog {
        grid-template-columns: repeat(1, 1fr);
    }

    .blog_block {
        padding: 10vw 10vw 4vw 10vw;
    }

    .blog_block__header {
        grid-template-rows: 0.4fr 0.9fr 2fr;
    }

    .main_header_last {
        margin-bottom: 10vw;
    }

    .contact_wrapper {
        padding: 6vw 10vw;
    }

    .cw_form__block {
        width: 100%;
    }

    .cw_form__text textarea {
        width: 100%;
    }

    .contact iframe {
        margin: 5vw 0vw;
        width: 100vw;
    }

    .footer_top {
        grid-template-columns: repeat(1, 1fr);
        padding: 15vw 10vw 0 10vw;
    }

    .ft__block_row {
        padding-top: 0;
    }

    .ft__block_icons {
        margin: 4vw 0;
    }

    .footer_top__block:not(.footer_top__block:first-of-type)  {
        margin-top: 2em;
    }

    .ft__block_row:hover a {
        color: #ff6347;
        transform: scale(1, 1);
        transition: all 0.5s ease;
    }

    .footer_bottom {
        justify-content: space-around;
    }
}

/*--------------max-width: 480px--------------*/

@media (max-width: 480px) {
    .anchor {
        scroll-margin-top: 25vw;
    }

    .about_people__block {
        width: 100%;
        margin: 0 5vw;
    }

    .about_people__block:hover {
        transform: scale(1.05, 1.05);
    }

    .work_block__header p:first-child {
        font-size: clamp(1.7em, 4vw, 3.5em);
    }
}

