.frame {
    height: auto;
    width: auto;
    padding: 50px;
    line-height: 170%;
    text-align: center;
    background: url(/ramka-top-left.png) top left no-repeat,
                url(/ramka-top-right.png) top right no-repeat,
                url(/ramka-bottom-left.png) bottom left no-repeat,
                url(/ramka-bottom-right.png) bottom right no-repeat,
                url(/ramka-top.png) top repeat-x,
                url(/ramka-bottom.png) bottom repeat-x, 
                url(/ramka-right.png) right repeat-y, 
                url(/ramka-left.png) left repeat-y;              
}