.blog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.blog_block {
    display: grid;
    grid-template-rows: 1fr auto;
    padding: 1vw 2vw 2vw 2vw;
}

.blog_block__header {
    display: grid;
    grid-template-rows: 0.4fr 1fr 2fr;
}

.blog_block:hover {
    background-color: #ff6347;
    color: #fff;
    cursor: url(/img/cursor/arrow.png), auto;
}

.blog_block:hover .blog_block__header p:first-of-type {
    color: #fff;
}

.blog_block__header p:first-of-type {
    font-family: 'cooper_hewittsemibold';
    font-size: clamp(0.8em, 1.2vw, 0.9em);
    color: #ff6347;
    padding-top: 1vw;
    padding-bottom: 1vw;
}

.blog_block__header h1 {
    font-family: 'cooper_hewittbold', Helvetica, Arial, sans-serif;;
    font-size: clamp(1.5em, 2.5vw, 2em);
    padding-bottom: 1vw;
}

.blog_block__header p:last-of-type {
    font-family: 'cooper_hewittlight';
    font-size: clamp(1em, 1.4vw, 1.1em);
    line-height: 1.5em;
    padding-bottom: 2vw;
}

.blog_block__img img {
    display: block;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

