.contact {
    background-image: url(/img/contact/contact-min.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.contact_wrapper {
    padding: 5% 20%;
}

.contact_wrapper__header {
    font-family: 'optibodoni-antiquaregular';
    font-size: clamp(1.2em, 3.5vw, 2em);
    text-align: center;
    color: #fff;
}

.contact_wrapper__form {
    margin-top: 5%;
}

.cw_form__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cw_form__block {
    display: block;
    width: 49%;
    margin-bottom: 3%;
}

.cw_form__block input {
    width: 100%;
    padding: 10px;
    font-family: 'cooper_hewittsemibold';
    font-size: clamp(0.7em, 1.4vw, 1em);
    border: 2px solid #fff;
    outline: none;
    color: #fff;
    background-color: transparent;
    box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
}

.cw_form__block input::placeholder {
    color: #fff;
}

.cw_form__text {
    display: flex;
    justify-content: center;
}

.cw_form__text textarea {
    width: 70%;
    padding: 10px;
    margin-bottom: 3%;
    resize: vertical;
    font-family: 'cooper_hewittsemibold';
    font-size: clamp(0.7em, 1.4vw, 1em);
    border: 2px solid #fff;
    outline: none;
    color: #fff;
    background-color: transparent;
    box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
}

.cw_form__text textarea::placeholder {
    color: #fff;
}

.cw_form__button {
    display: flex;
    justify-content: center;
}

.cw_form__button input {
    width: clamp(130px, 20vw, 250px);
    padding: 10px;
    font-family: 'cooper_hewittsemibold';
    font-size: clamp(1em, 1.7vw, 1.5em);
    letter-spacing: 5px;
    text-transform: uppercase;
    border: 2px solid #fff;
    outline: none;
    color: #fff;
    background-color: transparent;
    box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
}

.cw_form__button input:hover {
    cursor: pointer;
    background-color: #ff6347;
    transition: background-color 1s ease;
}

.contact iframe {
    margin: 2vw 10%;
    width: 80%;
    height: 400px;
    border: 0;
}