.slider {
    width: 100%;   
    display: flex;
    overflow-x: auto; 
    scroll-snap-type: x mandatory; /* прокрутка слайдера */
    scroll-behavior: smooth; 
    position: relative;
    background-color: #808080; 
    cursor: url(/img/cursor/arrow.png), auto;
}

.slider::-webkit-scrollbar {
    height: 1.5vh;
}

.slider::-webkit-scrollbar-thumb { /* Ползунок в слайдере */
    background: #fff; 
    border-radius: 5px;
}

.slider::-webkit-scrollbar-track { /* Поле для ползунка */
    background:  transparent;
}

.slider > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 100%; 
    margin-right: 0; 
    transform-origin: center center; 
    transform: scale(1);
    transition: transform 1s;
}

img {
    width: 100%;
    display: block;
}

.slider1_text {
    position: absolute;
    top: 30%;
    left: 3%;
    width: 60%; 
    font-family: 'nelphim_regular';
    font-size: clamp(1.8em, 6vw, 5em);
    color: #fff;
}

.slider2_text {
    position: absolute;
    top: 50%;
    left: 5vw;
    width: 60%; 
    font-family: 'nelphim_regular';
    font-size: clamp(1.8em, 6vw, 5em);
    color: #fff;
}

.slider3_text {
    position: absolute;
    top: 50%;
    left: 35%;
    width: 60%; 
    font-family: 'nelphim_regular';
    font-size: clamp(1.7em, 5vw, 4em);
    text-align: right;
    color: #fff;
}



